.hero {
    height: 300vh;
    padding: 5rem 2rem;
    color: #ffffff;

    @media screen and (min-width: 768px) {
        padding: 7rem;
    }

    @media screen and (min-width: 1280px) {
        padding: 10rem;
    }

    h1 {
        position: absolute;
        bottom: 65vh;
        left: 50%;
        transform: translateX(-50%);
        font-size: 4rem;

        @media screen and (min-width: 768px) {
            font-size: 7rem;
        }

        @media screen and (min-width: 1280px) {
            font-size: 10rem;
        }
    }

    div {
        width: 75%;

        h1 {
            position: static;
            transform: translate(0);
            font-size: 3rem;

            @media screen and (min-width: 768px) {
                font-size: 5rem;
            }

            @media screen and (min-width: 1280px) {
                font-size: 7rem;
            }
        }

        p {
            margin-top: 1rem;
            line-height: 150%;
            color: #747474;

            @media screen and (min-width: 768px) {
                width: 75%;
            }

            @media screen and (min-width: 1280px) {
                width: 50%;
            }
        }
    }
}
